{% extends 'layouts/index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"  href="{% static 'detail.css' %}">
{% endblock %}

{% block content %}
    <div class="product_block">
        <div class="info">
            <img  style="max-width: 600px " class="product_image" src="/media/{{ product.image }}" alt="">
            <h1>{{ product.title }}</h1>
        <div class="description">
            <h4>{{ product.description }}</h4>
        </div>

            <h4>Rate: {{ product.rate }}</h4>
            <div class="dates">
                <p>{{ product.created_date }}</p>
                <p>{{ product.modified_date }}</p>
            </div>
        </div>

        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h5>{{ comment.text }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}