{% extends 'layouts/index.html' %}
{% load static %}
{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
            flex-wrap: wrap;
        }
        .product_image > img {
            width: 100%;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        {% if product.image %}
                            <img  style="max-width: 200px" class="product_image" src="/media/{{ product.image }}" alt="">
                        {% else  %}
                            <img src="{% static 'img.png'%}" alt="">
                        {%endif%}
                    </div>
                    <h5 class="card-title">{{ product.title }}</h5>
                <div class="rate">
                    <h6 class="rate">{{ product.rate }}</h6>
                </div>
                    <a href="/products/{{ product.id }}" class="card-link">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}